# Python
projects/backend/.venv/
projects/backend/__pycache__/
projects/backend/.pytest_cache/

# Node
projects/frontend/node_modules/
projects/frontend/dist/

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db
